In [24]:
import pandas as pd

Merge, Concat and Join

In [25]:
a = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})
b = pd.DataFrame({'B': [4, 0, 6], 'C': [7, 8, 9]})

print(pd.merge(a, b))
print()
print(pd.merge(a, b, how="left"))
print()
print(pd.merge(a, b, how="outer", indicator=True))
print()

c = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6], 'C': [7, 8, 9]})
d = pd.DataFrame({'A': [9, 8, 7], 'B': [6, 5, 4], 'C': [3, 2, 1]})
print(pd.merge(c, d, right_index=True, left_index=True, suffixes=('i', 'j')))

   A  B  C
0  1  4  7
1  3  6  9

   A  B    C
0  1  4  7.0
1  2  5  NaN
2  3  6  9.0

     A  B    C      _merge
0  NaN  0  8.0  right_only
1  1.0  4  7.0        both
2  2.0  5  NaN   left_only
3  3.0  6  9.0        both

   Ai  Bi  Ci  Aj  Bj  Cj
0   1   4   7   9   6   3
1   2   5   8   8   5   2
2   3   6   9   7   4   1

In [26]:
a = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})
b = pd.DataFrame({'B': [4, 5, 6], 'C': [7, 8, 9]})

print(pd.concat([a, b]))
print()
print(pd.concat([a, b], axis=1))
print()
print(pd.concat([a, b], join="inner"))
print()
print(pd.concat([a, b], keys=["d1", "d2"]))

     A  B    C
0  1.0  4  NaN
1  2.0  5  NaN
2  3.0  6  NaN
0  NaN  4  7.0
1  NaN  5  8.0
2  NaN  6  9.0

   A  B  B  C
0  1  4  4  7
1  2  5  5  8
2  3  6  6  9

   B
0  4
1  5
2  6
0  4
1  5
2  6

        A  B    C
d1 0  1.0  4  NaN
   1  2.0  5  NaN
   2  3.0  6  NaN
d2 0  NaN  4  7.0
   1  NaN  5  8.0
   2  NaN  6  9.0

In [27]:
a = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})
b = pd.DataFrame({'C': [7, 8], 'D': [10, 11]})

print(a.join(b))
print()
print(a.join(b, how="left"))
print()
print(a.join(b, how="inner"))
print()
print(a.join(b, lsuffix="left", rsuffix='right'))

   A  B    C     D
0  1  4  7.0  10.0
1  2  5  8.0  11.0
2  3  6  NaN   NaN

   A  B    C     D
0  1  4  7.0  10.0
1  2  5  8.0  11.0
2  3  6  NaN   NaN

   A  B  C   D
0  1  4  7  10
1  2  5  8  11

   A  B    C     D
0  1  4  7.0  10.0
1  2  5  8.0  11.0
2  3  6  NaN   NaN

Missing Data

In [28]:
data = pd.read_csv("http://bit.ly/uforeports")
print(data.head())
print()
print(data.isnull().head())
print()
print(data.isnull().sum())

                   City Colors Reported Shape Reported State             Time
0                Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2               Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3               Abilene             NaN           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00

    City  Colors Reported  Shape Reported  State   Time
0  False             True           False  False  False
1  False             True           False  False  False
2  False             True           False  False  False
3  False             True           False  False  False
4  False             True           False  False  False

City                  26
Colors Reported    15359
Shape Reported      2644
State                  0
Time                   0
dtype: int64

In [29]:
print(data.dropna().head(3))
print()
print(data.dropna(thresh=2).head(3))                                          # Atleast 2 missing values
print()
print(data.dropna(how="all").head(3))                                         # All missing values
print()
print(data.dropna(subset=["City"]).head(3))                                   # Specific col

          City Colors Reported Shape Reported State             Time
12      Belton             RED         SPHERE    SC  6/30/1939 20:00
19  Bering Sea             RED          OTHER    AK  4/30/1943 23:00
36  Portsmouth             RED      FORMATION    VA   7/10/1945 1:30

          City Colors Reported Shape Reported State             Time
0       Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1  Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2      Holyoke             NaN           OVAL    CO  2/15/1931 14:00

          City Colors Reported Shape Reported State             Time
0       Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1  Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2      Holyoke             NaN           OVAL    CO  2/15/1931 14:00

          City Colors Reported Shape Reported State             Time
0       Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1  Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2      Holyoke             NaN           OVAL    CO  2/15/1931 14:00

In [30]:
print(data.fillna(0).head(3))                                                 # Fill missing values with 0
print()
print(data.fillna("NA", limit=1).head(3))                                     # Fill with NA, but max 1 per row
print()
print(data.fillna({"Colors": "Black", "City": "NA"}).head(3))                 # Specific column values
print()
print(data.ffill().head(3))                                                   # Preceeding value [ bfill() for succeeding value ]

          City Colors Reported Shape Reported State             Time
0       Ithaca               0       TRIANGLE    NY   6/1/1930 22:00
1  Willingboro               0          OTHER    NJ  6/30/1930 20:00
2      Holyoke               0           OVAL    CO  2/15/1931 14:00

          City Colors Reported Shape Reported State             Time
0       Ithaca              NA       TRIANGLE    NY   6/1/1930 22:00
1  Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2      Holyoke             NaN           OVAL    CO  2/15/1931 14:00

          City Colors Reported Shape Reported State             Time
0       Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1  Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2      Holyoke             NaN           OVAL    CO  2/15/1931 14:00

          City Colors Reported Shape Reported State             Time
0       Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1  Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2      Holyoke             NaN           OVAL    CO  2/15/1931 14:00

In [31]:
data[['star_rating', 'duration']] = data[['star_rating', 'duration']].interpolate()
print(data.head())

KeyError: "None of [Index(['star_rating', 'duration'], dtype='object')] are in the [columns]"

Grouping

In [ ]:
data = pd.read_csv("http://bit.ly/imdbratings")
data.drop("actors_list", axis=1, inplace=True)
print(data.head(3), end="\n\n")

grouped = data.groupby('genre')
print(grouped.describe().head())
print()

print(grouped.get_group('Crime').head())

   star_rating                     title content_rating  genre  duration
0          9.3  The Shawshank Redemption              R  Crime       142
1          9.2             The Godfather              R  Crime       175
2          9.1    The Godfather: Part II              R  Crime       200

          star_rating                                               duration  \
                count      mean       std  min   25%  50%  75%  max    count
genre
Action          136.0  7.884559  0.333084  7.4  7.60  7.8  8.1  9.0    136.0
Adventure        75.0  7.933333  0.361802  7.4  7.65  7.9  8.1  8.9     75.0
Animation        62.0  7.914516  0.292444  7.4  7.70  7.9  8.1  8.6     62.0
Biography        77.0  7.862338  0.310364  7.4  7.60  7.8  8.1  8.9     77.0
Comedy          156.0  7.822436  0.304922  7.4  7.60  7.8  8.0  8.6    156.0


                 mean        std   min    25%    50%    75%    max
genre
Action     126.485294  21.982480  80.0  111.0  125.0  137.0  205.0
Adventure  134.840000  33.383942  89.0  109.0  127.0  151.5  224.0
Animation   96.596774  13.975927  75.0   87.0   94.5  102.0  134.0
Biography  131.844156  24.283991  85.0  116.0  127.0  146.0  202.0
Comedy     107.602564  20.101574  68.0   94.0  104.0  117.0  187.0

    star_rating                     title content_rating  genre  duration
0           9.3  The Shawshank Redemption              R  Crime       142
1           9.2             The Godfather              R  Crime       175
2           9.1    The Godfather: Part II              R  Crime       200
4           8.9              Pulp Fiction              R  Crime       154
21          8.7               City of God              R  Crime       130

Sorting and Filtering

In [ ]:
data = pd.read_csv("http://bit.ly/imdbratings")
data.drop("actors_list", axis=1, inplace=True)
print(data.head(3), end="\n\n")

print(data["duration"].sort_values(ascending=False).head(3), end="\n\n")
print(data.sort_values(['star_rating', 'duration']).head(3), end="\n\n")

print(data[(data["duration"] > 200) & (data["genre"] == "Crime")])
print()
print(data.loc[data["genre"].isin(["Thriller", "Drama"]), ['title', 'genre']].head())

   star_rating                     title content_rating  genre  duration
0          9.3  The Shawshank Redemption              R  Crime       142
1          9.2             The Godfather              R  Crime       175
2          9.1    The Godfather: Part II              R  Crime       200

476    242
157    238
78     229
Name: duration, dtype: int64

     star_rating                title content_rating      genre  duration
938          7.4  Alice in Wonderland              G  Animation        75
948          7.4           Frances Ha              R     Comedy        86
966          7.4   The Simpsons Movie          PG-13  Animation        87

    star_rating                        title content_rating  genre  duration
78          8.4  Once Upon a Time in America              R  Crime       229

                              title  genre
5                      12 Angry Men  Drama
9                        Fight Club  Drama
13                     Forrest Gump  Drama
16  One Flew Over the Cuckoo's Nest  Drama
17                    Seven Samurai  Drama

Melting and Pivot Tables

In [ ]:
data = pd.DataFrame({'Name': ['GuSe', 'YaMi', 'ViPa', 'YaMi', 'ViPa'],
                     'Age': [19, 15, 18, 19, 18],
                     'City': ['DL', 'HY', 'UP', 'HY', 'UP']})

print(pd.melt(data))
print()
print(pd.melt(data, id_vars=["Age"], var_name="field"))

   variable value
0      Name  GuSe
1      Name  YaMi
2      Name  ViPa
3      Name  YaMi
4      Name  ViPa
5       Age    19
6       Age    15
7       Age    18
8       Age    19
9       Age    18
10     City    DL
11     City    HY
12     City    UP
13     City    HY
14     City    UP

   Age field value
0   19  Name  GuSe
1   15  Name  YaMi
2   18  Name  ViPa
3   19  Name  YaMi
4   18  Name  ViPa
5   19  City    DL
6   15  City    HY
7   18  City    UP
8   19  City    HY
9   18  City    UP

In [ ]:
print(data.pivot(columns="City"))
print()
print(data.pivot(columns="City", values="Name"))
print()
print(data.pivot_table(index="Name", columns="City", aggfunc="mean"))

      Name               Age
City    DL    HY    UP    DL    HY    UP
0     GuSe   NaN   NaN  19.0   NaN   NaN
1      NaN  YaMi   NaN   NaN  15.0   NaN
2      NaN   NaN  ViPa   NaN   NaN  18.0
3      NaN  YaMi   NaN   NaN  19.0   NaN
4      NaN   NaN  ViPa   NaN   NaN  18.0

City    DL    HY    UP
0     GuSe   NaN   NaN
1      NaN  YaMi   NaN
2      NaN   NaN  ViPa
3      NaN  YaMi   NaN
4      NaN   NaN  ViPa

       Age
City    DL    HY    UP
Name
GuSe  19.0   NaN   NaN
ViPa   NaN   NaN  18.0
YaMi   NaN  17.0   NaN

DateTime Data Type

In [ ]:
data = pd.read_table("http://bit.ly/uforeports", sep=",")
data.drop("Shape Reported", axis=1, inplace=True)
print(data.head(), end="\n\n")

data["Time"] = pd.to_datetime(data["Time"])
print(data.head(), end="\n\n")

data["Day"] = data["Time"].dt.day_name()
print(data.head(), end="\n\n")

print(data["Time"].max() - data["Time"].min())

tmp = pd.to_datetime("2000/04/09")
print(data.loc[data["Time"] > tmp].head())

                   City Colors Reported State             Time
0                Ithaca             NaN    NY   6/1/1930 22:00
1           Willingboro             NaN    NJ  6/30/1930 20:00
2               Holyoke             NaN    CO  2/15/1931 14:00
3               Abilene             NaN    KS   6/1/1931 13:00
4  New York Worlds Fair             NaN    NY  4/18/1933 19:00

                   City Colors Reported State                Time
0                Ithaca             NaN    NY 1930-06-01 22:00:00
1           Willingboro             NaN    NJ 1930-06-30 20:00:00
2               Holyoke             NaN    CO 1931-02-15 14:00:00
3               Abilene             NaN    KS 1931-06-01 13:00:00
4  New York Worlds Fair             NaN    NY 1933-04-18 19:00:00

                   City Colors Reported State                Time      Day
0                Ithaca             NaN    NY 1930-06-01 22:00:00   Sunday
1           Willingboro             NaN    NJ 1930-06-30 20:00:00   Monday
2               Holyoke             NaN    CO 1931-02-15 14:00:00   Sunday
3               Abilene             NaN    KS 1931-06-01 13:00:00   Monday
4  New York Worlds Fair             NaN    NY 1933-04-18 19:00:00  Tuesday

25781 days 01:59:00
                City Colors Reported State                Time     Day
16219        Menifee    ORANGE GREEN    CA 2000-04-09 01:10:00  Sunday
16220      Oceanside           GREEN    CA 2000-04-09 01:10:00  Sunday
16221  Newport Coast             NaN    CA 2000-04-09 01:11:00  Sunday
16222  Santa Barbara           GREEN    CA 2000-04-09 01:11:00  Sunday
16223       Richmond             NaN    IN 2000-04-09 01:30:00  Sunday

Categories
[ Setting a string column with limited number of unique values as categories in a dataframe
not only saves memory but also speeds up operations. In fact, they also allow to provide
heirarchical ordering to the data, thus allowing to perform operations like comparison ]

In [ ]:
data = pd.DataFrame({"ID": ['A', 'B', 'C', 'D', 'E'], "rating": ["good", "bad", "average", "good", "excellent"]})
print(data.sort_values("rating"))
print()

data["rating"] = pd.Categorical(data["rating"], categories=["bad", "average", "good", "excellent"], ordered=True)
print(data.sort_values("rating"))
print()

print(data[data["rating"] > "average"])

  ID     rating
2  C    average
1  B        bad
4  E  excellent
0  A       good
3  D       good

  ID     rating
1  B        bad
2  C    average
0  A       good
3  D       good
4  E  excellent

  ID     rating
0  A       good
3  D       good
4  E  excellent

Map and Apply

In [ ]:
data = pd.read_csv("http://bit.ly/kaggletrain", index_col="PassengerId")
data.drop(["Name", "Ticket", "Embarked", "SibSp"], axis=1, inplace=True)
print(data.head(), end="\n\n")

data["Sex"] = data["Sex"].map({'female': 0, 'male': 1})
print(data.head(), end="\n\n")

data["RoundedFare"] = data["Fare"].apply(round)
print(data.head(), end="\n\n")

             Survived  Pclass     Sex   Age  Parch     Fare Cabin
PassengerId
1                   0       3    male  22.0      0   7.2500   NaN
2                   1       1  female  38.0      0  71.2833   C85
3                   1       3  female  26.0      0   7.9250   NaN
4                   1       1  female  35.0      0  53.1000  C123
5                   0       3    male  35.0      0   8.0500   NaN

             Survived  Pclass  Sex   Age  Parch     Fare Cabin
PassengerId
1                   0       3    1  22.0      0   7.2500   NaN
2                   1       1    0  38.0      0  71.2833   C85
3                   1       3    0  26.0      0   7.9250   NaN
4                   1       1    0  35.0      0  53.1000  C123
5                   0       3    1  35.0      0   8.0500   NaN

             Survived  Pclass  Sex   Age  Parch     Fare Cabin  RoundedFare
PassengerId
1                   0       3    1  22.0      0   7.2500   NaN            7
2                   1       1    0  38.0      0  71.2833   C85           71
3                   1       3    0  26.0      0   7.9250   NaN            8
4                   1       1    0  35.0      0  53.1000  C123           53
5                   0       3    1  35.0      0   8.0500   NaN            8

Multi-indexing [ Representing Data in a heirarchical manner. Similar to adding an extra dimension ]

In [ ]:
data = pd.read_csv("http://bit.ly/smallstocks")
print(data, end="\n\n")

ser = data.groupby(["Symbol", "Date"]).Close.mean()
print(ser, end="\n\n")
print(ser.unstack(), end="\n\n")

         Date   Close    Volume Symbol
0  2016-10-03   31.50  14070500   CSCO
1  2016-10-03  112.52  21701800   AAPL
2  2016-10-03   57.42  19189500   MSFT
3  2016-10-04  113.00  29736800   AAPL
4  2016-10-04   57.24  20085900   MSFT
5  2016-10-04   31.35  18460400   CSCO
6  2016-10-05   57.64  16726400   MSFT
7  2016-10-05   31.59  11808600   CSCO
8  2016-10-05  113.05  21453100   AAPL

Symbol  Date
AAPL    2016-10-03    112.52
        2016-10-04    113.00
        2016-10-05    113.05
CSCO    2016-10-03     31.50
        2016-10-04     31.35
        2016-10-05     31.59
MSFT    2016-10-03     57.42
        2016-10-04     57.24
        2016-10-05     57.64
Name: Close, dtype: float64

Date    2016-10-03  2016-10-04  2016-10-05
Symbol
AAPL        112.52      113.00      113.05
CSCO         31.50       31.35       31.59
MSFT         57.42       57.24       57.64

In [ ]:
print(data.pivot_table(values="Close", index="Symbol", columns="Date"))          # Equivalent to the above operations
print()

df = data.set_index(["Symbol", "Date"])
print(df.sort_index(), end="\n\n")
print(df.loc[("AAPL", "2016-10-05"), "Close"])

Date    2016-10-03  2016-10-04  2016-10-05
Symbol
AAPL        112.52      113.00      113.05
CSCO         31.50       31.35       31.59
MSFT         57.42       57.24       57.64

                    Close    Volume
Symbol Date
AAPL   2016-10-03  112.52  21701800
       2016-10-04  113.00  29736800
       2016-10-05  113.05  21453100
CSCO   2016-10-03   31.50  14070500
       2016-10-04   31.35  18460400
       2016-10-05   31.59  11808600
MSFT   2016-10-03   57.42  19189500
       2016-10-04   57.24  20085900
       2016-10-05   57.64  16726400

113.05

Memory Usage

In [37]:
data = pd.read_csv("http://bit.ly/smallstocks")
print(data.head(2), end="\n\n")

print(data.info(), end="\n\n")
print(data.info(memory_usage="deep"))                                           # True memory usage (counting )

         Date   Close    Volume Symbol
0  2016-10-03   31.50  14070500   CSCO
1  2016-10-03  112.52  21701800   AAPL

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    9 non-null      object
 1   Close   9 non-null      float64
 2   Volume  9 non-null      int64
 3   Symbol  9 non-null      object
dtypes: float64(1), int64(1), object(2)
memory usage: 420.0+ bytes
None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    9 non-null      object
 1   Close   9 non-null      float64
 2   Volume  9 non-null      int64
 3   Symbol  9 non-null      object
dtypes: float64(1), int64(1), object(2)
memory usage: 1.4 KB
None

In [40]:
print(data.memory_usage(), end="\n\n")
print(data.memory_usage(deep=True))

Index     132
Date       72
Close      72
Volume     72
Symbol     72
dtype: int64

Index     132
Date      603
Close      72
Volume     72
Symbol    549
dtype: int64